################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CDN_V5/.vs/CDN_V5
/CDN_V5/.vs/ProjectEvaluation
